* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte: 'Roboto', sans-serif;
    --fundo: #F8E559;
    --fundo-receita: #F6F5F5;
    --titulos: #1B1B1B;
    --texto: #39393A;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte);
     background: var(--fundo-receita); 
} 
@media only screen and (max-width: 480px) {
    img {
      width: 200px;
      object-fit: scale-down;
    }
    figcaption {
        display: none;
    }
  }

.receita {
    margin-top: 30px;
    width: 70%;
    padding: 80px;
    border-radius: 30px;
    background: var(--fundo-receita);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boloMilho {
    background: #F8E559 ;
}

.boloMesclado {

    background: #F2C18D;
}
.cookie{
background: #B5C0D0; 
}
.panquecaAmericana{
    background: #D9EDBF;
}
.panquecaFit{
    background: #F3CCF3;
}
.paoDeMel{
background: #481E14;
color: #fff;
}
.paoDeMel h2{
    background: #481E14;
    color: #fff;
    }

h1 {
    font-size: 28px;
    color: var(--titulos);
    text-align: center;
    padding: 20px;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

h2 {
    font-size: 20px;
    color: var(--titulos);
    text-align: center;
    padding: 20px;
}

li p {
    font-size: 16px;
    color: var(--texto);

}

ul,
ol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
    gap: 15px;

}



figcaption {
    font-size: 12px;
    color: var(--texto);
    text-align: end;
}

a {
    text-decoration: none;
    color: #F28585;
}
.menu__principal {
    background-color: #FFF67E;
width: 100%;
display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    font-size: 15px;
    color: #eda4cf;
    margin: 30px;
    text-align: center;
}
footer a{
    color: #383838;
}