.menu__principal {
    background-color: #FFF67E;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: inline-block;
    margin: 10px;
}

li a {
    color: #383838;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

li a:hover,
a.nome_receita:hover, footer a:hover{
    text-decoration: none;
    color: #9B4444;
}

.heading {
    color: #fff01d;
    display: flex;
    justify-content: center;
    padding: 20px;
}

a.nome_receita {
    color: #000;
    text-decoration: none;
    text-align: center;
}
footer {
    font-size: 15px;
    color: #eda4cf;
    margin: 30px;
    text-align: center;
}
footer a{
    color: #383838;
}

/* Media Query para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
    .menu__principal {
        flex-direction: column;
        padding: 10px;
    }

    li {
        margin: 5px;
    }

    li a {
        padding: 5px;
    }
    ul{
        padding-left: 0px;
    }
    .menu__principal li{
        display: none;
    }
}
