.menu__principal {
    background-color: #FFF67E;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: inline-block;
    margin: 10px;
}

li a {
    color: #383838;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

li a:hover,
a.nome_receita:hover, footer a:hover{
    text-decoration: none;
    color: #9B4444;
}
.paoDeMel{
    width: 170px;
}
.heading {
    color: #fff01d;
    display: flex;
    justify-content: center;
    padding: 20px;
}

a.nome_receita {
    color: #000;
    text-decoration: none;
    text-align: center;
}
footer {
    font-size: 15px;
    color: #eda4cf;
    margin: 30px;
    text-align: center;
}
footer a{
    color: #383838;
}
.imagem{
    width: 300px;
    height: 166px;
    object-fit: scale-down;
}

.receita_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
/* Media Query para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
    .menu__principal {
        flex-direction: column;
        padding: 10px;
    }

    li {
        margin: 5px;
    }

    li a {
        padding: 5px;
    }
    ul{
        padding-left: 0px;
    }
    .menu__principal li{
        display: none;
    }
    .heading h2{
        display: none;
    }
    .paoDeMel{
        width: 100px;
    }
}
